@page "/load"
@namespace Notepad.Pages
@inject NavigationManager Navigation

@code {
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000); // Espera 2 segundos antes de redirigir
        isLoading = false;
        Navigation.NavigateTo("/Home", forceLoad: true); // Redirige a la lista de notas
    }
}

@if (isLoading)
{
    <div class="loading-container">
        <div class="loader"></div>
        <p>Cargando...</p>
    </div>
}

<!-- Enlace al CSS de la animación -->
<link rel="stylesheet" href="~/css/loading/load.css">

<link rel="stylesheet" href="css/loading/load.css">

