@inherits LayoutComponentBase
@inject NavigationManager Navigation
@{
    bool hideLayout = Navigation.Uri.Contains("/add-note") || Navigation.Uri.Contains("/notes");
}
@if (!hideLayout)
{
    <div class="main-layout">
        <header>
            <h1>Bloc de Notas</h1>
            <nav>
                <ul>
                    <li><a href="/notes">📜 Notas</a></li>
                    <li><a href="/add-note">📝 Agregar Nota</a></li>
                </ul>
            </nav>
        </header>

        <main>
            @Body
        </main>
    </div>
}
else
{
    <div class="only-body">
        @Body
    </div>
}
<link rel="stylesheet" href="~/css/inicio/layout">

